<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initital-scale=1, shrink-to-fit=no" />
        <title>
            {% block title %}
            SHOP.CO
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        {% if not accountID %}
            <div class="top-message" id="top-message">
                <div class="top-message__label">
                    Sign up and get 20% off to your first order. <a href="/">Sign Up Now</a>
                </div>
                <div class="top-message__cross" id="top-message-close"></div>
            </div>
        {% endif %}
        <div class="nav__container">
            <div class="nav__links--mini" id="dropdown-opener">
                <div class="nav__icon icon--list"></div>
                <ul class="links__dropdown" id="dropdown-links">
                    <li class="nav__item">
                        <a href="/shop">Shop</a>
                    </li>
                    <li class="nav__item">
                        <a href="/on-sale">On Sale</a>
                    </li>
                    <li class="nav__item">
                        <a href="/new-arrivals">New Arrivals</a>
                    </li>
                    <li class="nav__item">
                        <a href="/brands">Brands</a>
                    </li>
                </ul>
            </div>
            <div class="nav__item nav__breaker shop-logo">
                <a href="/">SHOP.CO</a>
            </div>
            <div class="nav__links--full">
                <div class="nav__item nav__item--link">
                    <a href="/shop">Shop</a>
                </div>
                <div class="nav__item nav__item--link">
                    <a href="/on-sale">On Sale</a>
                </div>
                <div class="nav__item nav__item--link">
                    <a href="/new-arrivals">New Arrivals</a>
                </div>
                <div class="nav__item nav__breaker nav__item--link">
                    <a href="/brands">Brands</a>
                </div>
            </div>
            <div class="nav__search--full nav__breaker">
                <div class="nav__icon icon--search"></div>
                <input id="search-bar" placeholder="Search for products..."></input>
            </div>
            <div class="nav__icons">
                <div class="nav__icon icon--search nav__search--mini"></div>
                <a href="/cart">
                    <div class="nav__icon icon--cart"></div>
                </a>
                <a href="/profile">
                    <div class="nav__icon icon--profile"></div>
                </a>
            </div>
        </div>
        <div class="footer__container">
            <div class="form__container">
                <div class="form__content">
                    <div class="form__label">
                        STAY UP TO DATE ABOUT OUR LATEST OFFERS
                    </div>
                    <div class="form__handlers">
                        <div class="form__email">
                            <div class="nav__icon icon--email"></div>
                            <input id="email-bar" placeholder="Enter your email address"></input>
                        </div>
                        <div class="form__subscribe">Subscribe to Newsletter</div>
                    </div>
                </div>
            </div>
            <div class="footer__content container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="shop-logo">SHOP.CO</div>
                        <div class="shop-desc">We have clothes that suits your style and which you’re proud to wear. From women to men.</div>
                        <div class="footer__logos">
                            <div class="footer__icon icon--x"></div>
                            <div class="footer__icon icon--facebook"></div>
                            <div class="footer__icon icon--instagram"></div>
                            <div class="footer__icon icon--github"></div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-2">
                        <div class="footer__category footer__breaker">Company</div>
                        <div class="footer__link">About</div>
                        <div class="footer__link">Features</div>
                        <div class="footer__link">Works</div>
                        <div class="footer__link">Career</div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="footer__category footer__breaker">Help</div>
                        <div class="footer__link">Customer Support</div>
                        <div class="footer__link">Delivery Details</div>
                        <div class="footer__link">Terms & Conditions</div>
                        <div class="footer__link">Privacy Policy</div>
                    </div>
                    <div class="col-6 col-lg-2">
                        <div class="footer__category footer__breaker">FAQ</div>
                        <div class="footer__link">Account</div>
                        <div class="footer__link">Manage Deliveries</div>
                        <div class="footer__link">Orders</div>
                        <div class="footer__link">Payments</div>
                    </div>
                    <div class="col-6 col-lg-2">
                        <div class="footer__category footer__breaker">Resources</div>
                        <div class="footer__link">Free eBooks</div>
                        <div class="footer__link">Development Tutorial</div>
                        <div class="footer__link">How to - Blog</div>
                        <div class="footer__link">Youtube Playlist</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright__container">
            <div class="copyright__content">
                <hr class="divider">
                <div class="copyright__info">
                    Shop.co © 2000-2025, All Rights Reserved
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'eventHandlers.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>