* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
    text-decoration: none;
}
input {
    background-color: #F0F0F0;
    border: none;
    font-weight: 400;
    font-family: Satoshi;
    font-size: 16px;
    width: 75%;
}
input::placeholder {
    font-weight: 400;
    font-family: Satoshi;
    font-size: 16px;
}
input:focus {
    outline: none;
}
@font-face {
    font-family: IntegralCF;
    src: url('integralcf_updated.woff');
    ascent-override: 100%
}
@font-face {
    font-family: Satoshi;
    src: url('satoshi.otf');
}
.nav__container {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
} 
.nav__item {
    /*background-color: yellow;*/
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
}
.nav__breaker {
    margin-right: 40px;
}
.nav__item--link {
    display: inline-block;
    margin-right: 24px;
}
.shop-logo {
    font-weight: 700;
    font-size: 32px;
    font-family: IntegralCF;
    height: 22px;
}
.nav__search--full {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 62px;
    height: 48px;
    width: 577px;
    background: #F0F0F0;
}
.nav__icon {
    height: 24px;
    width: 24px;
}
.icon--search {
    margin-left: 16px;
    margin-right: 12px;
    background-image: url('search_icon_gray.svg');
}
.nav__icons {
    display: flex;
    align-items: center;
    width: 62px;
    height: 24px;
}
.icon--cart {
    margin-right: 14px;
    background-image: url('cart_icon.svg');
}
.icon--profile {
    background-image: url('profile_icon.svg');
}
.top-message {
    background: black;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-message__label {
    font-family: Satoshi;
    color: white;
    font-weight: 400;
    font-size: 14px;
    height: 19px;
}
.top-message__label a {
    color: white;
    text-decoration: underline white;
}
.top-message__label a:visited {
    color: white;
}
.top-message__cross {
    width: 20px;
    height: 20px;
    background-image: url('cross_icon.svg');
    position: relative;
    left: 417px;
}
.top-message__cross:hover {
    cursor: pointer;
}
.icon--search {
    margin-right: 12px;
    background-image: url('search_icon_white.svg');
}
.nav__search--mini {
    display: none;
}
.nav__links--mini {
    display: none;
    margin-right: 16px;
}
.icon--list {
    background-image: url('list_icon.svg');
}
.links__dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 5;
    background-color: white;
}
.links__dropdown > li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form__container {
    margin-left: auto;
    margin-right: auto;
    background: black;
    border-radius: 20px;
}
.form__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 36px;
    padding-bottom: 36px;
}
.form__label {
    font-weight: 700;
    font-size: 40px;
    font-family: IntegralCF;
    line-height: 45px;
    color: white;
}
.form__email {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 62px;
    height: 48px;
    width: 349px;
    background: #ffffff;
}
.form__email input {
    background: #ffffff;
}
.icon--email {
    margin-left: 16px;
    margin-right: 12px;
    background-image: url('email_icon.svg');
}
.form__subscribe {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    height: 48px;
    width: 349px;
    background: #ffffff;
    font-family: Satoshi;
    font-weight: 500;
    font-size: 16px;
}
.form__subscribe:hover {
    cursor: pointer;
}
@media (width >= 1240px){
    .nav__container, .form__container {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }
    .top-message {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .form__label {
        max-width: 551px;
    }
}
@media (width < 1240px) {
    .nav__container {
        justify-content: flex-start;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav__container div:nth-child(5) {
        margin-left: auto;
    }
    .top-message__cross, .nav__links--full, .nav__search--full {
        display: none;
    }
    .nav__icons {
        width: 120px;
    }
    .nav__search--mini {
        display: block;
        margin-right: 14px;
    }
    .nav__links--mini {
        display: block;
    }
    .form__container {
        margin-left: 17px;
        margin-right: 17px;
    }
}
@media (width < 800px) {
    .form__content {
        justify-content: none;
        align-items: none;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 32px;
        padding-bottom: 28px;
    }
    .form__label {
        margin-bottom: 32px;
    }
    .form__email, .form__subscribe {
        width: 311px;
    }
}